*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url(image/352107_original_3011x3764.jpg);
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orangered;
}

header{
    position: relative;
    padding: 0 2rem;
}

.logo{
    font-size: 2rem;
    font-weight:bold;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links{
    display: flex;
    gap: 3rem;
}

.navbar .togglebtn{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(53, 25, 25, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;

}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

  /* MOBILE VIEW $ TABLET VIEW */
@media(max-width: 800px){
    .navbar .links{
        display: none;
    }

    .navbar .togglebtn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}